/*--------------------------------------------------------------
3.0 Elements
--------------------------------------------------------------*/
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: $lineheight/2;
}
ul, ol {
	margin: 0 0 $lineheight/2 $horizontalBase/2;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: $horizontalBase/2;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 $lineheight/2 $horizontalBase/2;
}
img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
	border-radius: $borderRadius;
}
figure {
	margin: 0;
}
table {
	margin: 0 0 $lineheight/2;
	width: 100%;

	th,td {
		padding:$lineheight/2 $horizontalBase/2;
	}
	td {
		font-size:1.9rem;
	}
	th {
		font-weight: bold;
	}
	tr:nth-child(2n+1) {
		background:#f0f0f0;
	}
	thead tr,
	tfoot tr {
		background:#ddd !important;
	}
}
