/**
 * This stylesheet styles featured images on posts and pages,
 * and also the Custom Header Image feature.
 */

// Post thumbnails on non-singular templates
.home, .blog, .archive {
	.site-main article.has-post-thumbnail {
		.entry-header {
			$featuredImageTop: $lineheight*16;
			padding-top: $featuredImageTop;

			.featured-image {

				position: absolute;
				left: 0;
				right: 0;
				height: $lineheight*21;
				background: no-repeat center center;
				background-size: cover;
				z-index: 1;
				margin-top: -$featuredImageTop;
			}

			.entry-title {
				z-index:2;
				position:relative;
			}
		}

		&:first-child {
			margin-top:-$lineheight*3;
		}
	}
}
// Post thumbnails on singular templates,
.single, .page {
	.entry-header {
		.featured-image-caption {
			padding: $lineheight/2 $horizontalBase/2;
			margin-bottom:$lineheight;
			margin-top:-$lineheight*3.5;
			border-radius:$borderRadius;
			background: $lightOverlay;
		}
	}
}

// Post thumbnails on singular templates,
// and also the site's custom header image on non-singular templates
.page-header {
	padding:$smallLayoutMargin;
	padding-top:$lineheight*3;
	padding-bottom:$lineheight*3;
	transition:height 0.3s;

	&.header-image {
		background-size:cover;
		background-position:center center;
		height:$lineheight*10;

		> * {
			background:$lightOverlay;
			border-radius:$borderRadius;
			padding:0 $horizontalBase/2;
		}
	}
	.page-title {
		margin-top:0;
		margin-bottom:0;
		z-index:2; // Float above featured image of first post on page
		position:relative; // Make z-index take effect
	}
}

// Page header on search template
.search .page-header.header-image {
	padding-bottom:$lineheight*4;
	min-height:$lineheight*11;
	height:auto;
}

@media screen and (min-height: 500px) {
	.page-header.header-image {
		height:$lineheight*14;
	}
}
@media screen and (min-height: 750px) {
	.page-header.header-image {
		height:$lineheight*20;
	}
}
@media screen and (min-width: 800px) {
	.page-header {
		padding:$layoutMargin;
		padding-top:$lineheight*3;
		padding-bottom:$lineheight*3;

		> * {
			max-width:800px;
			margin:auto;
		}
	}

	.header-image + .content-area {
		margin-top:-$lineheight*5;
	}
}
@media screen and (min-height: 900px) {
	.page-header.header-image {
		height:$lineheight*24;
	}
}
