@import 'font-awesome-variables';
@import 'bower_components/fontawesome/scss/font-awesome';

.icon-unspace {
	margin-right:0.2em;
}

.entry-meta {
	.icon {
		@extend .icon-lg;
		@extend .icon-fw;
		margin-right:0.2em;
	}
	.posted-on:before {
		@extend .icon;
		@extend .icon-calendar;

		&:after {
			content: '&nbsp;';
			display:inline;
		}
	}
	.byline:before {
		@extend .icon;
		@extend .icon-user;
	}
}

.entry-footer {
	.icon {
		@extend .icon-lg;
	}

	.featured:before {
		@extend .icon;
		@extend .icon-star-o;
		color:yellow;
	}
	.cat-links:before {
		@extend .icon;
		@extend .icon-folder-open;
	}
	.tags-links:before {
		@extend .icon;
		@extend .icon-tag;
	}
	.tags-links.plural-tags::before {
		@extend .icon-tags;
	}
	.permalink:before {
		@extend .icon;
		@extend .icon-thumb-tack;
	}
	.comments-link:before {
		@extend .icon;
		@extend .icon-comment;
	}
	.comments-link.plural-comments:before {
		@extend .icon-comments;
	}
	.edit-link:before {
		@extend .icon;
		@extend .icon-pencil;
	}
}

#comments {
	.fn:before {
		@extend .icon;
		@extend .icon-fw;
		@extend .icon-user;
	}
	time:before {
		@extend .icon;
		@extend .icon-fw;
		@extend .icon-clock-o;
	}

	.edit-link:before {
		@extend .icon;
		@extend .icon-fw;
		@extend .icon-pencil;
	}

	.reply:before {
		@extend .icon;
		@extend .icon-fw;
		@extend .icon-reply;
	}

	.logged-in-as a:first-child:before {
		@extend .icon;
		@extend .icon-fw;
		@extend .icon-user;
	}

	.logged-in-as a:last-child:before {
		@extend .icon;
		@extend .icon-fw;
		@extend .icon-sign-out;
	}
}

#colophon {
	.wp:before {
		@extend .icon;
		@extend .icon-fw;
		@extend .icon-wordpress;
	}
}

#site-navigation {
	.close:before {
		@extend .icon;
		@extend .icon-fw;
		@extend .icon-times;
	}
}
