$flexLayoutPadding: 0 $horizontalBase;
$layoutMargin: 0 20% 0 10%;
$smallLayoutMargin: 0 10% 0 5%;

#page {
	position:absolute; // To fix correct positioning of #masthead with and without WP admin bar
	width:100%; // Or else the width will be "auto" in Firefox and the content will not be centered properly
}
body .content-area {
	margin-top:$lineheight*3; // Make room for #masthead if there's not a header image
	margin-bottom:$lineheight*2;
}
.header-image + .content-area {
	margin-top:-$lineheight*4.5;
}
#masthead {
	position:fixed;
	height:$lineheight*2;
	overflow:visible;
	width:100%;
}

.content-area {
	@extend .clear;
	margin:$smallLayoutMargin;
}
.page-header {
	padding:$smallLayoutMargin;
	padding-top:$lineheight*3;
	padding-bottom:$lineheight*3;

	&.header-image {
		background-size:cover;
		background-position:center center;
		min-height:$lineheight*8;
		max-height:$lineheight*10;

		> * {
			background:$lightOverlay;
			border-radius:$borderRadius;
			padding:0 $horizontalBase/2;
		}
	}
	.page-title {
		margin-top:0;
		margin-bottom:0;
	}
}
@media screen and (min-height: 500px) {
	.page-header.header-image {
		max-height:$lineheight*14;
	}
}
@media screen and (min-height: 750px) {
	.page-header.header-image {
		max-height:$lineheight*20;
	}
}
@media screen and (min-height: 900px) {
	.page-header.header-image {
		max-height:$lineheight*24;
	}
}

@media screen and (min-width: 800px) {
	.page-header {
		padding:$layoutMargin;
		padding-top:$lineheight*3;
		padding-bottom:$lineheight*3;

		> * {
			max-width:800px;
			margin:auto;
		}
	}
	.content-area {
		margin:$layoutMargin;

		.site-main {
			max-width:800px;
			margin:auto;
		}
	}
	.header-image + .content-area {
		margin-top:-$lineheight*5;
	}
	#masthead .site-branding {
		margin:$layoutMargin;
	}
}
@media screen and (min-width: 800px) {
	#masthead .site-branding {
		margin:$flexLayoutPadding;
	}
}


#secondary {
	display:flex;
	flex-wrap:wrap;
	padding: $flexLayoutPadding;

	background:#252525;
	color:white;
}

#colophon {
	padding: $flexLayoutPadding;
	text-align:center;

	.site-info {
		margin:1.7rem 0;
	}
}
