$flexLayoutPadding: 0 $horizontalBase;
$layoutMargin: 0 20% 0 10%;
$smallLayoutMargin: 0 10% 0 5%;

#page {
	position:absolute; // To fix correct positioning of #masthead with and without WP admin bar
	width:100%; // Or else the width will be "auto" in Firefox and the content will not be centered properly
}
#content {
	margin-top:$lineheight*2; // Make room for #masthead
}
#masthead {
	position:fixed;
	height:$lineheight*2;
	overflow:visible;
	width:100%;
}

.content-area {
	margin:0 10% 0 5%;
}

@media screen and (min-width: 800px) {
	.content-area {
		margin:0 20% 0 10%;

		.site-main {
			max-width:800px;
			margin:auto;
		}
	}
	#masthead .site-branding {
		margin:$layoutMargin;
	}
}
@media screen and (min-width: 800px) {
	#masthead .site-branding {
		margin:$flexLayoutPadding;
	}
}


#secondary {
	display:flex;
	flex-wrap:wrap;
	padding: $flexLayoutPadding;

	background:#252525;
	color:white;
}

#colophon {
	padding: $flexLayoutPadding;
	text-align:center;

	.site-info {
		margin:1.7rem 0;
	}
}
