/*--------------------------------------------------------------
9.0 Widgets
--------------------------------------------------------------*/
.widget {
	min-width:225px;
	margin: $lineheight*3/2 $horizontalBase/2 $lineheight/2;
	flex:1;

	h1 {
		@extend h3;
		margin-top:0;
	}

	> ul {
		margin-left:0;
		list-style-position:inside;
	}

	&:first-child {
		margin-left:0;
	}
	&:last-child {
		margin-right:0;
	}

	/* Make sure select elements fit in widgets */
	select {
		max-width: 100%;
	}

	table {
		td,th {
			padding:$lineheight/4 $horizontalBase/4;
		}
	}
}

/* Search widget */
.widget_search .search-submit {
	display: none;
}

/* Calendar widget */
.widget_calendar {
	th,td {
		text-align:center;
	}
	#prev {
		text-align:left;
	}
	#next {
		text-align:right;
	}
}
